@page "/product"
@inject HttpClient _http
@using Restaurant_site.client.DTO
@using System.Net.Http.Json

<PageTitle>Product</PageTitle>

<h1>Product</h1>

@if (_allProducts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name </th>
                <th>Description.</th>
                <th>Price</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _allProducts)
            {
                <tr>
                    <td>@product.Id.ToString()</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.Photo</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private ProductDTO[]? _allProducts;
    protected override async Task OnInitializedAsync()
    {
        _allProducts = await _http.GetFromJsonAsync<ProductDTO[]>("product/AllProducts");
    }  
}
